Source: meqtrees-timba
Section: science
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-dev,
 cmake,
 casarest,
 casacore-dev,
 wcslib-dev,
 libblitz0-dev,
 liblapack-dev,
 libfftw3-dev,
 libcfitsio-dev | libcfitsio3-dev,
 libblas-dev,
 libqdbm-dev,
 libboost-thread-dev,
 libboost-system-dev,
 python3-numpy
Standards-Version: 4.6.2.0
Homepage: http://www.astron.nl/meqwiki/MeqTrees
X-Python3-Version: >= 3.6

Package: libmeqtrees-timba0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, casarest, netbase
Description: implementing and solving arbitrary Measurement Equations
 MeqTrees is a software package for implementing Measurement Equations. This
 makes it uniquely suited for simulation and calibration of radioastronomical
 data, especially that involving new radiotelescopes and observational
 regimes.
 .
 MeqTrees includes a highly capable FITS viewer and sky model manager called
 Tigger, which can also work as a standalone tool.

Package: python3-meqtrees-timba
Architecture: any
Depends: ${shlibs:Depends}, ${python3:Depends}, ${misc:Depends},
 libmeqtrees-timba0, python3-pyqt5, python3-qwt
Description: implementing and solving arbitrary Measurement Equations
 MeqTrees is a software package for implementing Measurement Equations. This
 makes it uniquely suited for simulation and calibration of radioastronomical
 data, especially that involving new radiotelescopes and observational
 regimes.
 .
 MeqTrees includes a highly capable FITS viewer and sky model manager called
 Tigger, which can also work as a standalone tool.

Package: meqtrees-timba
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 python3-meqtrees-timba, libmeqtrees-timba0, casarest
Description: implementing and solving arbitrary Measurement Equations
 MeqTrees is a software package for implementing Measurement Equations. This
 makes it uniquely suited for simulation and calibration of radioastronomical
 data, especially that involving new radiotelescopes and observational
 regimes.
 .
 MeqTrees includes a highly capable FITS viewer and sky model manager called
 Tigger, which can also work as a standalone tool.
