Source: meqtrees-timba
Section: science
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>= 8.0.0),
 python-dev,
 cmake,
 casarest,
 casacore-dev,
 wcslib-dev,
 libblitz0-dev,
 liblapack-dev,
 libfftw3-dev,
 libcfitsio-dev | libcfitsio3-dev,
 libblas-dev,
 libqdbm-dev,
 libboost-thread-dev,
 libboost-system-dev,
 python-numpy
Standards-Version: 3.9.7
Homepage: http://www.astron.nl/meqwiki/MeqTrees

Package: libmeqtrees-timba0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, casarest, netbase
Description: implementing and solving arbitrary Measurement Equations
 MeqTrees is a software package for implementing Measurement Equations. This
 makes it uniquely suited for simulation and calibration of radioastronomical
 data, especially that involving new radiotelescopes and observational
 regimes.
 .
 MeqTrees includes a highly capable FITS viewer and sky model manager called
 Tigger, which can also work as a standalone tool.

Package: python-meqtrees-timba
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends},
 libmeqtrees-timba0, python-qwt5-qt4, python-qt4
Description: implementing and solving arbitrary Measurement Equations
 MeqTrees is a software package for implementing Measurement Equations. This
 makes it uniquely suited for simulation and calibration of radioastronomical
 data, especially that involving new radiotelescopes and observational
 regimes.
 .
 MeqTrees includes a highly capable FITS viewer and sky model manager called
 Tigger, which can also work as a standalone tool.

Package: meqtrees-timba
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 python-meqtrees-timba, libmeqtrees-timba0, casarest, python2.7
Description: implementing and solving arbitrary Measurement Equations
 MeqTrees is a software package for implementing Measurement Equations. This
 makes it uniquely suited for simulation and calibration of radioastronomical
 data, especially that involving new radiotelescopes and observational
 regimes.
 .
 MeqTrees includes a highly capable FITS viewer and sky model manager called
 Tigger, which can also work as a standalone tool.
